/SettlerCraft-Bukkit/target/*
/SettlerCraft-Core/target/*
/XCore/target/*
/StructureAPI-Bukkit/target/
/MenuAPI-Bukkit/target/
/SettlerCraftPlugin-Bukkit/target/
/Proxy-Platform/target/
/SettlerCraft-XPlatform/target/