/SettlerCraft/target/
/SettlerCraftModel/target/
/SettlerCraftCore/target/
/MathUtil/nbproject/private/
/MathUtil/build/
/SCCore/target/
/SCStructureAPI/target/
/JavaApplication23/nbproject/private/
/JavaApplication23/build/
/SCShop/target/